{% extends 'core/header.html' %}
{% load static %}
{% block content %}
{% load cloudinary %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Login to set lunch tag friend and strike preferences and see your pairings!</p>
</div>

<div class="container">
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Lunch Tag</h4>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="align-items-center text-center">
                <img src="{% static 'default.png' %}" alt="Admin" class="rounded-circle" width="150">
            </div>
        </div>
        <a class="btn btn-lg btn-block btn-primary mt-5" href="/login">Log in to see pairing</a>
    </div>
    </div>
    <div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">YDBoba</h4>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="align-items-center text-center">
                <img src="{% static 'lock.png' %}" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                    <h5 class="text-secondary mb-1">Under construction</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}