{% extends "header.html" %}
{% load static %}
{% load cloudinary %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="align-items-right">
                                <a class="float-right" href="/account/edit_profile">
                                    <img alt="edit_profile" src="{% static 'edit_icon.png' %}">
                                </a>
                            </div>
                            <div class="align-items-center text-center">
                                {% if user_profile.image is not None %}
                                <img src="{{ user_profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
                                {% else %}
                                <img src="{% static 'default.png' %}" alt="Admin" class="rounded-circle" width="150">
                                {% endif %}
                                <div class="mt-3">
                                    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                                    <p class="text-secondary mb-1">{{ user_profile.pronouns }}</p>
                                    <p class="text-muted font-size-sm">{{ user_profile.phone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="float-right" href="/account/edit"><img alt="edit_account"
                                        src="{% static 'edit_icon.png' %}"></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.first_name }}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.last_name }}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="mb-0">Secret Crush</h4>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <p class="mb-0 float-right"><small>(select up to 1)</small></p>
                            </div>
                        </div>
                        <hr>

                        {% if user_profile.crush != none %}
                        <div class="row">
                            <div class="col-sm-10">
                                <h6 class="mb-3">{{user_profile.crush.first_name}} {{user_profile.crush.last_name}}</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                <a class="float-right text-decoration-none" style="color:gray"
                                    href="/account/remove_crush"><small>remove</small></a>
                            </div>
                        </div>
                        {% endif %}

                        <div class="dropdown">
                            {% if user_profile.crush != none %}
                            <button class="btn btn-secondary dropdown-toggle mt-2" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change Crush
                            </button>
                            {% else %}
                            <button class="btn btn-secondary dropdown-toggle mt-2" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Crush
                            </button>
                            {% endif %}
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for user in allusers %}
                                {% if not user.is_superuser %}
                                {% if user != user_profile.crush and user != request.user and user not in userstrikes %}
                                <a class="dropdown-item" href="account/crush/{{user.id}}">{{user.first_name}}
                                    {{user.last_name}}</a>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="mb-0">Strikes</h4>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <p class="mb-0 float-right"><small>(visible only to you)</small></p>
                            </div>
                        </div>
                        <hr>

                        {% for user in userstrikes %}
                        <div class="row">
                            <div class="col-sm-10">
                                <h6 class="mb-3">{{user.first_name}} {{user.last_name}}</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                <a class="float-right text-decoration-none" style="color:gray"
                                    href="/account/remove_strike/{{user.id}}"><small>remove</small></a>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle mt-2" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Strike
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for user in allusers %}
                                {% if not user.is_superuser %}
                                {% if user not in userstrikes and user != request.user and user != user_profile.crush %}
                                <a class="dropdown-item" href="account/strike/{{user.id}}">{{user.first_name}}
                                    {{user.last_name}}</a>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 align-items-center text-center">
                {% if user_profile.active %}
                <a class="btn btn-outline-danger mt-4" href="account/toggle_active">Opt Out of Lunch
                    Tag<br><small>(Lasts until you opt back in)</small></a>
                {% else %}
                <a class="btn btn-outline-success mt-4" href="account/toggle_active">Opt In to Lunch Tag</a>
                {% endif %}
            </div>



        </div>
    </div>
</div>

{% endblock %}