{% extends "core/header.html" %}
{% load static %}
{% block content %}      
{% load cloudinary %}

<div class="text-center">
  <form method="POST" class="form-signin">

    {% csrf_token %}
    <img class="mb-4" src="{% static 'bulldog.png' %}" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {{ login_form.non_field_errors }}
    <div class="fieldWrapper">
        {{ login_form.username.errors }}
        <label for="{{ form.username.id_for_label }}" class="sr-only">Email</label>
        <input type="username" name="{{ login_form.username.html_name }}" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    </div>
    <div class="fieldWrapper">
        {{ login_form.password.errors }}
        <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
        <input type="password" name="{{ login_form.password.html_name }}" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>

  </form>
</div>

{% endblock %}