{% extends 'core/header.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Set lunch tag crush and strike preferences in <a class="text-decoration-none" style="color:black" href="/account">Account</a>! Feel free to contact if you feel something should be added</p>
</div>

<div class="container">
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Lunch Tag</h4>
    </div>

    <div class="card-body">
        {% if pairing is not none %}
        <div class="d-flex flex-column">
            <div class="align-items-center text-center">
                {% if pair_profile.image is not None %}
                <img src="{{ pair_profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
                {% else %}
                <img src="{% static 'default.png' %}" alt="Admin" class="rounded-circle" width="150">
                {% endif %}
                <div class="mt-3">
                    <h4>{{ pairing.first_name }} {{ pairing.last_name }}</h4>
                    {% if pair_profile.pronouns is not none %}
                    <p class="text-secondary mb-1">{{ pair_profile.pronouns }}</p>
                    {% endif %}
                    {% if pair_profile.phone is not None %}
                    <p class="text-muted font-size-sm">{{ pair_profile.phone }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if pairing2 is not none %}
        <hr class="bg-dark">
        <div class="d-flex flex-column mt-2">
            <div class="align-items-center text-center">
                {% if pair_profile2.image is not None %}
                <img src="{{ pair_profile2.image.url }}" alt="Admin" class="rounded-circle" width="150">
                {% else %}
                <img src="{% static 'default.png' %}" alt="Admin" class="rounded-circle" width="150">
                {% endif %}
                <div class="mt-3">
                    <h4>{{ pairing2.first_name }} {{ pairing2.last_name }}</h4>
                    {% if pair_profile2.pronouns is not none %}
                    <p class="text-secondary mb-1">{{ pair_profile2.pronouns }}</p>
                    {% endif %}
                    {% if pair_profile2.phone is not None %}
                    <p class="text-muted font-size-sm">{{ pair_profile2.phone }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="d-flex flex-column">
            <div class="align-items-center text-center">
                <img src="{% static 'default.png' %}" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                    <p class="text-secondary mb-1">New pairings have not been pushed yet. If you believe you are seeing this in error, contact Maddie!</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>

    <div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">YD Boba</h4>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="align-items-center text-center">
                <img src="{% static 'lock.png' %}" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                    <h5 class="text-secondary mb-1">Under construction</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}